---
layout: default

subject: "Syleguide"
preview-text:

body-class:
image-path: "assets/img/"
---

<container>
    <wrapper>

      <spacer size="40"></spacer>
      <row class="valign">
        <columns>
          <h5>HEADINGS</h5>
        </columns>
      </row>
      <spacer size="12"></spacer>

      <row class="valign">
        <columns>
          <h6>H1 - H6</h6>
        </columns>
      </row>

      <row>
        <columns>
          <h1>Heading H1 <small>Small Text</small></h1>
          <h2>Heading H2 <small>Small Text</small></h2>
          <h3>Heading H3 <small>Small Text</small></h3>
          <h4>Heading H4 <small>Small Text</small></h4>
          <h5>Heading H5 <small>Small Text</small></h5>
          <h6>Heading H6 <small>Small Text</small></h6>
        </columns>
      </row>

      <spacer size="40"></spacer>
      <row class="valign">
        <columns>
          <h5>PARAGRAPHS</h5>
        </columns>
      </row>
      <spacer size="12"></spacer>

      <row class="valign">
        <columns>
          <h6>BASIC</h6>
        </columns>
      </row>

      <row>
        <columns>
          <p>Lorem ipsum dolor  sit amet, consectetur adipisicing elit. Alias beatae culpa cumque deleniti earum error et, eum ex exercitationem facilis hic inventore laboriosam maxime perspiciatis quae quasi, sit veniam veritatis!</p>
        </columns>
      </row>

      <row class="valign">
        <columns>
          <h6>LEAD</h6>
        </columns>
      </row>

      <row>
        <columns>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </columns>
      </row>

      <row class="valign">
        <columns>
          <h6>SUBHEADER</h6>
        </columns>
      </row>

      <row>
        <columns>
          <p class="subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </columns>
      </row>

      <spacer size="40"></spacer>
      <row class="valign">
        <columns>
          <h5>LINKS</h5>
        </columns>
      </row>
      <spacer size="12"></spacer>

      <row>
        <columns>
          <a class="primary" href="#">Primary Text</a>
        </columns>
        <columns>
          <a class="secondary" href="#">Secondary Text</a>
        </columns>
      </row>

      <spacer size="40"></spacer>
      <row class="valign">
        <columns>
          <h5>BUTTON</h5>
        </columns>
      </row>
      <spacer size="12"></spacer>

      <row>
        <columns>
          <h6>BASIC</h6>
        </columns>
      </row>

      <row>
        <columns>
          <button class="primary expanded" href="#">Primary</button>
        </columns>
        <columns>
          <button class="secondary expanded" href="#">Secondary</button>
        </columns>
      </row>

      <row>
        <columns>
          <h6>SIZING</h6>
        </columns>
      </row>

      <row>
        <columns>
          <button class="primary tiny expanded" href="#">Tiny</button>
        </columns>
        <columns>
          <button class="primary small expanded" href="#">Small</button>
        </columns>
        <columns>
          <button class="primary large expanded" href="#">Large</button>
        </columns>
      </row>

      <row>
        <columns>
          <h6>COLORING</h6>
        </columns>
      </row>

      <row>
        <columns>
          <button class="alert expanded" href="#">Alert</button>
        </columns>
        <columns>
          <button class="warning expanded" href="#">Warning</button>
        </columns>
        <columns>
          <button class="success expanded" href="#">Success</button>
        </columns>
      </row>

      <row>
        <columns>
          <h6>BORDER STYLING</h6>
        </columns>
      </row>

      <row>
        <columns>
          <button class="primary expanded radius" href="#">Radius</button>
        </columns>
        <columns>
          <button class="primary expanded rounded" href="#">Rounded</button>
        </columns>
      </row>

      <spacer size="40"></spacer>
      <row class="valign">
        <columns>
          <h5>CALLOUTS</h5>
        </columns>
      </row>
      <spacer size="12"></spacer>

      <row>
        <columns>
          <h6>PRIMARY</h6>
        </columns>
      </row>

      <row>
        <columns>
          <callout class="primary">
            <row>
              <columns>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </columns>
            </row>
          </callout>
        </columns>
      </row>

      <row>
        <columns>
          <h6>SECONDARY</h6>
        </columns>
      </row>

      <row>
        <columns>
          <callout class="secondary">
            <row>
              <columns>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis consectetur corporis cum dicta dignissimos eius expedita hic id iusto non optio quisquam ratione saepe sunt, tempore temporibus. Eum, facilis?</p>
              </columns>
            </row>
          </callout>
        </columns>
      </row>

    </wrapper>
</container>
